/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(to right, #f0f0f0, #e0e0e0);
    color: #333;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

header {
    background: #4a90e2;
    color: white;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

header h1 {
    margin: 0;
    font-size: 2.5em;
    font-weight: 700;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 20px 0 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #e0e0e0;
}

main {
    padding: 40px 0;
}

.overview,
.screenshots,
.live-site {
    background: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    margin-bottom: 40px;
    transition: transform 0.3s, box-shadow 0.3s;
}


h2 {
    color: #4a90e2;
    margin-bottom: 20px;
    font-size: 2em;
}

p,
ul {
    margin: 20px 0;
    font-size: 1.1em;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

.btn-primary {
    display: inline-block;
    background-color: #4a90e2;
    color: white;
    padding: 12px 24px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: #357abd;
}

.gallery {
    display: flex;
    gap: 15px;
    justify-content: center;
    flex-wrap: wrap;
}

.gallery-item {
    flex: 1;
    min-width: 300px;
    max-width: 500px;
    overflow: hidden;
    border-radius: 10px;
}

.gallery-item img {
    width: 100%;
    border-radius: 10px;
    transition: transform 0.3s;
}

.gallery-item img:hover {
    transform: scale(1.05);
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 15px;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2);
}